@inject IKntClientDataService  dataService
@inject IShowMessages showMessages

@if (ShowDialog)
{
    <div class="modal-backdrop show"></div>

    <div class="modal fade show" id="exampleModal" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Title</h5>
                    <button @onclick="OnCancel" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="overflow-auto" style="height:350px">

                        <InputFileUpload Label="Upload generic file" OnSelectedFile="OnFileSelected" />

                        <div class="form-group">
                            <label>Description:</label>                            
                            <input type="text" class="form-control" @bind="@resource.Description" />
                        </div>
                        <div class="form-group">
                            <label>Order:</label>                            
                            <input type="text" class="form-control" @bind="@resource.Order" />
                        </div>

                        @if (resourceFlowControl == null)
                        {
                            <p>Upload file .... </p>
                        }
                        else if (resourceFlowControl != "0") 
                        {
                            <p></p>
                            @*<p>Debug.</p>
                            <p>Name: @resource.Name</p>
                            <p>FullPath: @resource.FullPath</p>
                            <p>Description: @resource.Description</p>
                            <p>Container: @resource.Container</p>
                            <p>FileType: @resource.FileType</p>
                            <p>Order: @resource.Order </p>
                            <p>ResourceId: @resource.ResourceId </p>
                            <p>NoteId: @resource.NoteId </p>*@
                        }

                    </div>
                </div>
                <div class="modal-footer">
                    <button @onclick="OnCancel" type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <button @onclick="_onConfirm" type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Title { get; set; } = "KNote resource selector";
    //[Parameter] public ResourceDto Resource { get; set; }
    [Parameter] public EventCallback<ResourceDto> OnConfirm { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }

    private bool ShowDialog = false;
    private ResourceDto resource;
    private string resourceFlowControl = "0";

    public void Show()
    {
        resource = new ResourceDto();

        //if (Resource != null)
        //{
        //    // TODO: Pendiente refactorizar con Map
        //    resource.ResourceId = Resource.ResourceId;
        //    resource.Name = Resource.Name;
        //    resource.Container = Resource.Container;
        //    resource.FullPath = Resource.FullPath;
        //    resource.Description = Resource.Description;
        //    resource.Order = Resource.Order;
        //    resource.FileType = Resource.FileType;
        //    resource.ContentInDB = Resource.ContentInDB;
        //    resource.ContentArrayBytes = Resource.ContentArrayBytes;
        //    resource.ContentBase64 = Resource.ContentBase64;
        //    resource.NoteId = Resource.NoteId;
        //}

        ShowDialog = true;
    }

    public void Hide() => ShowDialog = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    private async Task OnFileSelected(KntFileInfo file)
    {
        resourceFlowControl = null;

        resource.ContentBase64 = file.ContentBase64;
        resource.Name = file.Name;
        resource.FileType = file.Type;

        var httpResponse = await dataService.Post<ResourceDto, Result<ResourceDto>>("api/notes/savefile", resource);
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            resource = httpResponse.Response.Entity;
        }

        resourceFlowControl = "1";
    }

    private async Task _onConfirm()
    {
        //if (Resource == null)
        //{
        //    Resource = new ResourceDto();
        //}

        //// TODO: Pendiente refactorizar con Map
        //Resource.ResourceId = resource.ResourceId;
        //Resource.Name = resource.Name;
        //Resource.Container = resource.Container;
        //Resource.FullPath = resource.FullPath;
        //Resource.Description = resource.Description;
        //Resource.Order = resource.Order;
        //Resource.FileType = resource.FileType;
        //Resource.ContentInDB = resource.ContentInDB;
        //Resource.ContentArrayBytes = resource.ContentArrayBytes;
        //Resource.ContentBase64 = resource.ContentBase64;
        //Resource.NoteId = resource.NoteId;

        //await OnConfirm.InvokeAsync(Resource);

        await OnConfirm.InvokeAsync(resource);
    }
}