@inject IKntClientDataService  dataService
@inject IShowMessages showMessages

@if (ShowDialog)
{
    <div class="modal-backdrop show"></div>

    <div class="modal fade show" id="taskModal" tabindex="-1"
         role="dialog" aria-labelledby="taskModalLabel"
         aria-hidden="true" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:600px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Title</h5>
                    <button @onclick="OnCancel" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="overflow-auto" style="height:550px">
                        
                        <div class="form-group">
                            <label>User:</label>
                            <input type="text" class="form-control" @bind="@task.UserId" />
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <input type="text" class="form-control" @bind="@task.Description" />
                        </div>
                        <div class="form-group">
                            <label>Start date:</label>
                            <input type="text" class="form-control" @bind="@task.StartDate" />
                        </div>
                        <div class="form-group">
                            <label>ResolvedDate:</label>
                            <input type="text" class="form-control" @bind="@task.ResolvedDate" />
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button @onclick="OnCancel" type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <button @onclick="_onConfirm" type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Title { get; set; } = "KNote task editor";
    [Parameter] public EventCallback<NoteTaskDto> OnConfirm { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public NoteTaskDto Task { get; set; }

    private NoteTaskDto task { get; set; } = new NoteTaskDto();

    private bool ShowDialog = false;

    public void Show()
    {
        if (Task != null)
            task = Task.GetSimpleDto<NoteTaskDto>();
        else
        {
            task = new NoteTaskDto();
            task.NoteTaskId = Guid.NewGuid();
        }

        ShowDialog = true;
    }

    public void Hide() => ShowDialog = false;

    private async Task _onConfirm()
    {
        await OnConfirm.InvokeAsync(task);
    }
}