@inject TooltipService tooltipService


<div class="mb-1 text-right">
    <RadzenButton Text="New resource" Click="() => OnNew.InvokeAsync(null)" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Class="mr-1" />
</div>

<EntityList List="Resources">
    <ItemsFull>
        <RadzenDataGrid Data="@Resources" TItem="ResourceInfoDto" AllowColumnResize="true" Density="@Density.Compact">
            <Columns>
                <RadzenDataGridColumn TItem="ResourceInfoDto" Property="NameOut" Title="Resource name" />
                <RadzenDataGridColumn TItem="ResourceInfoDto" Property="Description" Title="Description" />
                <RadzenDataGridColumn TItem="ResourceInfoDto" Property="Content" Title="Content" Width="150px"TextAlign="TextAlign.Center">
                    <Template Context="item">
                        <a href="@item.FullUrl" target="_blank" rel="noopener noreferrer">
                            <center>
                                <img style="width: @(ImgWidth(item))px" src="@ImgPreview(item)" />
                            </center>
                        </a>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ResourceInfoDto" Property="Order" Title="Order" Width="80px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="ResourceInfoDto" Title="Actions" Width="100px" TextAlign="TextAlign.Center" >
                    <Template Context="data">
                        <RadzenButton Click="@(() => OnInsertInDesription.InvokeAsync(data))" Icon="insert_page_break"
                                      ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small"
                                      MouseEnter="@(args => tooltipService.Open(args, "Insert resource reference in note description ...",
                                    new TooltipOptions(){ Position = TooltipPosition.Left }) )" Class="mr-0 mb-0" />
                        <RadzenButton Click="@(() => OnDelete.InvokeAsync(data))" Icon="delete"
                                      ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small"
                                      MouseEnter="@(args => tooltipService.Open(args, "Delete resource ...",
                                    new TooltipOptions(){ Position = TooltipPosition.Left }) )" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </ItemsFull>
</EntityList>

@code {
    [Parameter] public List<ResourceInfoDto> Resources { get; set; }
    [Parameter] public EventCallback<ResourceInfoDto> OnDelete { get; set; }
    [Parameter] public EventCallback<ResourceInfoDto> OnInsertInDesription { get; set; }
    [Parameter] public EventCallback OnNew { get; set; }

    private string ImgPreview(ResourceInfoDto resource)
    {
        var imgSrc = "";
        if (resource.FileType == "image/jpeg")
            imgSrc = "data:image/jpeg;base64, " + resource.ContentBase64;
        else if (resource.FileType == "application/pdf")
            imgSrc = @"https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg";
        else
            imgSrc = @"https://img.icons8.com/ios/50/000000/document-1.png";

        return imgSrc;
    }

    private int ImgWidth(ResourceInfoDto resource)
    {
        var imgW = 50;
        if (resource.FileType == "image/jpeg")
            imgW = 100;

        return imgW;
    }

}