@inject TooltipService tooltipService


<div class="row mb-1">
    <div class="col-6">
        <h5>Resources for this note:</h5>
    </div>
    <div class="col-6 text-right">
        <RadzenButton Text="New resource" Click="() => OnNew.InvokeAsync(null)" ButtonStyle="ButtonStyle.Primary" Class="mr-1" />  
    </div>
</div>

<EntityList List="Resources">
    <ItemsFull>
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th width="240px">Resource name</th>
                    <th>Description</th>
                    <th width="120px" class="text-center">Content</th>
                    <th width="40px" class="text-center">Order</th>
                    <th width="100px" class="text-center">(Actions)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Resources)
                {
                <tr>
                    <td>
                        <a href="@item.RelativeUrl" target="_blank">
                            @item.NameOut
                        </a>
                    </td>
                    <td>@item.Description</td>
                    <td>                        
                        <a href="@item.FullUrl" target="_blank" rel="noopener noreferrer">
                            <center>
                                <img style="width: @(ImgWidth(item))px" src="@ImgPreview(item)" />
                            </center>
                        </a>
                    </td>
                    <td>
                        <center>@item.Order</center>                        
                    </td>
                    <td>
                        <span class="float-right">
                            <RadzenButton Click="@(() => OnInsertInDesription.InvokeAsync(item))" Icon="insert_page_break" 
                                ButtonStyle="ButtonStyle.Primary" 
                                MouseEnter="@(args => tooltipService.Open(args, "Insert resource reference in note description ...", 
                                    new TooltipOptions(){ Position = TooltipPosition.Left }) )" Class="mr-0 mb-0"  />
                            <RadzenButton Click="@(() => OnDelete.InvokeAsync(item))" Icon="delete"
                                ButtonStyle="ButtonStyle.Danger" 
                                MouseEnter="@(args => tooltipService.Open(args, "Delete resource ...", 
                                    new TooltipOptions(){ Position = TooltipPosition.Left }) )" />
                        </span>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </ItemsFull>
</EntityList>

@code {
    [Parameter] public List<ResourceInfoDto> Resources { get; set; }
    [Parameter] public EventCallback<ResourceInfoDto> OnDelete { get; set; }
    [Parameter] public EventCallback<ResourceInfoDto> OnInsertInDesription { get; set; }
    [Parameter] public EventCallback OnNew { get; set; }

    private string ImgPreview(ResourceInfoDto resource)
    {
        var imgSrc = "";
        if (resource.FileType == "image/jpeg")
            imgSrc = "data:image/jpeg;base64, " + resource.ContentBase64;
        else if (resource.FileType == "application/pdf")
            imgSrc = @"https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg";
        else
            imgSrc = @"https://img.icons8.com/ios/50/000000/document-1.png";

        return imgSrc;
    }

    private int ImgWidth(ResourceInfoDto resource)
    {
        var imgW = 50;
        if (resource.FileType == "image/jpeg")
            imgW = 100;

        return imgW;
    }

}