@page "/notes/tree"
@page "/tree"

@inject AppState appState
@inject IWebApiService webApiService
@inject NavigationManager navigationManager
@inject IShowMessages showMessages

@inject TooltipService tooltipService

@implements IDisposable

@attribute [Authorize(Roles = "Public, Staff, ProjecManager, Admin")]

<div class="row">
    <div class="col-lg-12 bg-light border">
        <div class="row">
            <div class="col-6">                    
                @if(folder != null)
                {
                    @*<RadzenIcon class="pt-3" Icon="folder"/>*@
                    @*<h5 class="pt-3"> @folder.Name </h5>*@

                    <h5 class="pt-3"><span class="oi oi-folder pr-2"></span> @folder.Name</h5>
                }
                else
                {
                    <h5 class="pt-3">( No folder selected )</h5>
                }
                    
            </div>
            <div class="col-6">
                <span class="float-right">
                    <RadzenMenu>
                        <RadzenMenuItem Text="New note" Icon="post_add"  Click="NoteNew"></RadzenMenuItem>
                        <RadzenMenuItem Text="Refresh tree" Icon="refresh"  Click="RefreshTreeFolders" ></RadzenMenuItem>
                        <RadzenMenuItem Text="Display options" Icon="tune">
                            @if (viewMode == 0)
                            {                                 
                                <RadzenMenuItem Text="Item view" Click="ToggleView"></RadzenMenuItem>                                        
                            }
                            else
                            {                                    
                                <RadzenMenuItem Text="Table view" Click="ToggleView"></RadzenMenuItem>                        
                            }            
                        </RadzenMenuItem>
                    </RadzenMenu>
                </span>
            </div>
        </div>        
    </div>
</div>
    
<div class="row">
    <RadzenSplitter>

        <RadzenSplitterPane Size="20%" Min="200px" Max="30%">            
            <KntFoldersTreeView  FoldersInfo="foldersTree" FolderSelected="OnFolderSelected" ShowRefreshTree="false" /> @*RefreshTreeFolders="OnRefreshTreeFolders"*@
        </RadzenSplitterPane>

        <RadzenSplitterPane >
            <div class="pt-2">
                
                <RadzenPager @ref="pager" ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat" 
                            HorizontalAlign="HorizontalAlign.Right" 
                            Count="@((int)paginationContext.TotalCount)" 
                            PageSize="@paginationContext.PageSize" PageNumbersCount="5" 
                            PageChanged=@PageChanged/>

                @if (folder == null)
                {
                    <h5>  </h5>
                }
                else
                {                    
                    @if (viewMode == 0)
                    {
                        <NotesIndex Notes="notes" OnNoteDelete="GoNoteDelete" OnNoteEdit="GoNoteEdit" OnNoteView="GoNoteView"></NotesIndex>
                    }
                    else
                    {
                        <NotesList Notes="notes" OnNoteDelete="GoNoteDelete" OnNoteEdit="GoNoteEdit" OnNoteView="GoNoteView" />
                    }
                }
            </div>
        </RadzenSplitterPane>

    </RadzenSplitter>
</div>


<ModalDialog @ref="modalDialog" Title="Delete note" onConfirm="OnConfirmDelete" onCancel="OnCancelDelete">
    <div><p>Are you sure you want to delete note "@itemDelete.Topic (@itemDelete.NoteNumber)" ?</p></div>
</ModalDialog>

@code {
    private ModalDialog modalDialog;

    private List<FolderDto> foldersTree;    
    private NoteInfoDto itemDelete;
    private int viewMode = 0;    
    private List<NoteInfoDto> notes;
    private FolderDto folder;

    private NotesFilterDto filter = new NotesFilterDto();
    private PaginationContext paginationContext = new PaginationContext();

    private string pagingSummaryFormat = "Displaying page {0} of {1} (total {2} records)";
    private RadzenPager pager;
    private bool componentInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        appState.OnChange += StateHasChanged;
        await Load();
        componentInitialized = true;
    }

    private async Task Load()
    {
        if (appState.FoldersTree == null)
        {
            var result = await webApiService.Folders.GetTreeAsync();
            foldersTree = result.Entity;
            appState.FoldersTree = foldersTree;

            if (foldersTree?.Count > 0)
            {
                var f = foldersTree.Select(x => x).FirstOrDefault();
                f.Selected = true;
                await OnFolderSelected(f);
            }
        }
        else
        {
            foldersTree = appState.FoldersTree;
            await OnFolderSelected(appState.SelectedFolder.GetSimpleDto<FolderDto>());
        }
    }

    public void Dispose()
    {
        appState.OnChange -= StateHasChanged;
    }

    private async Task OnFolderSelected(FolderDto f)
    {
        folder = f;
        appState.SelectedFolder = folder.GetSimpleDto<FolderDto>();

        paginationContext.CurrentPage = 1;
        if(componentInitialized)
            await pager.GoToPage(0);

        await SelectedPage(1);
    }

    private void ToggleView()
    {
        viewMode = (viewMode == 0) ? 1 : 0;
    }

    private async Task PageChanged(PagerEventArgs args)
    {
        await SelectedPage(args.PageIndex + 1);                
    }

    private async Task SelectedPage(int page)
    {
        paginationContext.CurrentPage = page;
        await LoadNotesWithPagination();
    }

    private async Task LoadNotesWithPagination()
    {
        notes = null;
        
        filter.FolderId = folder.FolderId;
        filter.PageIdentifier = paginationContext.PageIdentifier;

        var result = await webApiService.Notes.GetFilter(filter);

        if (!result.IsValid)
        {
            await showMessages.ShowErrorMessage(result.Message);
        }
        else
        {
            notes = result.Entity;
            paginationContext.TotalCount = result.TotalCount;

        }
    }

    private async Task OnConfirmDelete()
    {
        modalDialog.Hide();

        var result = await webApiService.Notes.DeleteAsync(itemDelete.NoteId);
        if (!result.IsValid)        
            await showMessages.ShowErrorMessage(result.Message);
        else        
            await LoadNotesWithPagination();

        itemDelete = null;
    }

    private void OnCancelDelete()
    {
        modalDialog.Hide();
        itemDelete = null;
    }

    private void GoNoteDelete(NoteInfoDto item)
    {
        modalDialog.Show();
        itemDelete = item;
    }

    void NoteNew()
    {
        navigationManager.NavigateTo($"notes/new/tree");
    }

    void GoNoteView(NoteInfoDto note)
    {
        navigationManager.NavigateTo($"notes/{note.NoteId}/tree");
    }

    void GoNoteEdit(NoteInfoDto note)
    {
        navigationManager.NavigateTo($"notes/edit/{note.NoteId}/tree");
    }

    private async Task RefreshTreeFolders()
    {
        foldersTree = null;
        notes = null;
        appState.FoldersTree = null;
        await Load();
    }

    void ShowTooltip(ElementReference elementReference, string message, TooltipOptions options = null) => tooltipService.Open(elementReference, message, options);
    
}
