@page "/attributes"

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManager
@inject IShowMessages showMessages

@attribute [Authorize(Roles = "Admin")]

<div class="kpage-header mb-0">
    <div class="col-3">
        <h3>Attributes Index</h3>
    </div>
    <div class="col-9 float-right">
        <i class="oi oi-grid-three-up"></i>
        <button class="btn btn-sm btn-warning mx-1"
                @onclick="GoNewAttribute"
                data-toggle="tooltip" title="New attribute">
            <i class="oi oi-bookmark"></i> New attribute
        </button>
    </div>
</div>
<hr class="mt-0" />


<EntityList List="attributes">
    <ItemsFull>
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th width="160px">Key</th>
                    <th>Name</th>
                    <th width="60px">Order</th>
                    <th width="220px">DataType</th>
                    <th width="100px" class="text-center">(Actions)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in attributes)
                {
                    <tr>
                        <td>@item.Key</td>
                        <td>@item.Name</td>
                        <td>@item.Order</td>
                        <td>@KntConst.KAttributes[item.KAttributeDataType]</td>
                        <td>
                            <span class="float-right">
                                <a href="attributes/edit/@item.KAttributeId" class="btn btn-sm btn-warning mx-1"
                                   data-toggle="tooltip" title="Edit user">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <button class="btn btn-sm btn-danger mx-1"
                                        @onclick="@(() => Delete(item))"
                                        data-toggle="tooltip" title="Delete user">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </ItemsFull>
</EntityList>

<ModalDialog @ref="modalDialog" Title="Delete attribute" onConfirm="OnConfirmDelete" onCancel="OnCancelDelete">
    <div><p>Are you sure you want to delete attribute "@itemDelete.Name (@itemDelete.Key)" ?</p></div>
</ModalDialog>

@code {

    private List<KAttributeInfoDto> attributes { get; set; }
    private ModalDialog modalDialog;
    private KAttributeInfoDto itemDelete;

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var res = await dataService.Get<Result<List<KAttributeInfoDto>>>("api/kattributes");
        attributes = res.Response.Entity;
    }

    private void Delete(KAttributeInfoDto item)
    {
        modalDialog.Show();
        itemDelete = item;
    }

    private async Task OnConfirmDelete()
    {
        modalDialog.Hide();

        var httpResponse = await dataService.Delete($"api/kattributes/{itemDelete.KAttributeId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            await Load();
        }

        itemDelete = null;
    }

    private void OnCancelDelete()
    {
        modalDialog.Hide();
        itemDelete = null;
    }

    void GoNewAttribute()
    {
        navigationManager.NavigateTo($"attributes/new");
    }

}

