@page "/login"

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManager
@inject IShowMessages showMessages
@inject ILoginService loginService

@using KNote.Client.Auth

<h3>Login</h3>

<EditForm Model="@user" OnValidSubmit="LoginUser">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>User name:</label>
        <div>
            <InputText Class="form-control" @bind-Value="@user.Name" />
            <ValidationMessage For="@(() => user.Name)" />
        </div>
    </div>

    <div class="form-group">
        <label>Password:</label>
        <div>
            <InputPassword Class="form-control" @bind-Value="@user.Password" />
            <ValidationMessage For="@(() => user.Password)" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

</EditForm>

@code {
    private UserCredentialsDto user = new UserCredentialsDto();

    private async Task LoginUser()
    {
        var httpResponse = await dataService.Post<UserCredentialsDto, UserTokenDto>("api/users/login", user);
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {            
            await loginService.Login(httpResponse.Response.token);            
            navigationManager.NavigateTo("");
        }
    }
}
