@page "/attributes"

@inject IWebApiService webApiService
@inject NavigationManager navigationManager
@inject IShowMessages showMessages
@inject TooltipService tooltipService

@attribute [Authorize(Roles = "Admin")]

<div class="container-fluid bg-light border">
    <div class="row">
        <div class="col-6">
            <h3 class="pt-3">Attributes admin</h3>
        </div>
        <div class="col-6">
            <span class="float-right">
                <RadzenMenu>
                    <RadzenMenuItem Text="New attribute ..." Icon="post_add"  Click="OnNew"></RadzenMenuItem>
                </RadzenMenu>
            </span>
        </div>
    </div>
</div>

<div class="container-fluid pt-2">
    <div class="row">
        <EntityList List="attributes">
            <ItemsFull>
                <RadzenDataGrid Data="@attributes" TItem="KAttributeInfoDto" AllowColumnResize="true" >
                    <Columns>
                        <RadzenDataGridColumn TItem="KAttributeInfoDto" Property="Order" Title="Order" Width="60px"/>
                        <RadzenDataGridColumn TItem="KAttributeInfoDto" Property="Name" Title="Name" />
                        <RadzenDataGridColumn TItem="KAttributeInfoDto" Property="NoteTypeDto" Title="Note type" Width="150px" />
                        <RadzenDataGridColumn TItem="KAttributeInfoDto" Property="RequiredValue" Title="Requiered" Width="90px"/>                
                        <RadzenDataGridColumn TItem="KAttributeInfoDto" Title="Actions" Width="100px" TextAlign="TextAlign.Center" >
                            <Template Context="data">                                                        
                                <RadzenButton Click="@(() => OnEdit(data))" Icon="edit" 
                                    ButtonStyle="ButtonStyle.Primary" 
                                    MouseEnter="@(args => tooltipService.Open(args, "Edit attribute ...", new TooltipOptions(){ Position = TooltipPosition.Left }) )" Class="mr-0 mb-0"  />
                                <RadzenButton Click="@(() => OnDelete(data))" Icon="delete"
                                    ButtonStyle="ButtonStyle.Danger" 
                                    MouseEnter="@(args => tooltipService.Open(args, "Delete attribute ...", new TooltipOptions(){ Position = TooltipPosition.Left }) )" />                           
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns> 
                </RadzenDataGrid>
            </ItemsFull>
        </EntityList>
    </div>
</div>

<ModalDialog @ref="modalDialog" Title="Delete attribute" onConfirm="OnConfirmDelete" onCancel="OnCancelDelete">
    <div><p>Are you sure you want to delete attribute "@itemDelete.Name" ?</p></div>
</ModalDialog>

@code {

    private List<KAttributeInfoDto> attributes { get; set; }
    private ModalDialog modalDialog;
    private KAttributeInfoDto itemDelete;

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var response = await webApiService.KAttributes.GetAllAsync();
        if (!response.IsValid)
            await showMessages.ShowErrorMessage(response.Message);
        else
            attributes = response.Entity;
    }

    void OnNew()
    {
        navigationManager.NavigateTo($"attributes/new");
    }

    void OnEdit(KAttributeInfoDto attribute)
    {
        navigationManager.NavigateTo($"attributes/edit/{attribute.KAttributeId}");
    }

    private void OnDelete(KAttributeInfoDto item)
    {
        modalDialog.Show();
        itemDelete = item;
    }

    private async Task OnConfirmDelete()
    {
        modalDialog.Hide();

        var response = await webApiService.KAttributes.DeleteAsync(itemDelete.KAttributeId);
        if (!response.IsValid)        
            await showMessages.ShowErrorMessage(response.Message);        
        else        
            await Load();
        
        itemDelete = null;
    }

    private void OnCancelDelete()
    {
        modalDialog.Hide();
        itemDelete = null;
    }

}

