@page "/notes/{NoteId}"


@inject IKntClientDataService  dataService
@inject NavigationManager navigationManger
@inject IShowMessages showMessages

@attribute [Authorize(Roles = "Public, Staff, ProjecManager, Admin")]

<h3>NoteView</h3>
<hr />

@if (note != null)
{
    <h5>@note.Topic</h5>
    <h6> >> @note.FolderDto.Name</h6>
    <p>     >> NoteId: @NoteId / @note.NoteId</p>
    <hr />
    <p>Description:</p>
    <p>@((MarkupString)note.Description)</p>
    <hr />
    <p>Tags:</p>
    <p>@(note.Tags)</p>
    <hr />
}
else
{
    <text>Loading ... </text>
}


@code {
    [Parameter] public string NoteId { get; set; }

    private NoteDto note;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await dataService.Get<Result<NoteDto>>($"api/notes/{NoteId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
            navigationManger.NavigateTo("/");
        }
        else
        {
            note = httpResponse.Response.Entity;            
        }

        base.OnInitialized();
    }
    
}
