@*<div> </div>*@

@*<p><b> Note Number: </b> @Note.NoteNumber.</p>
    <p><b> Topic: </b>@((MarkupString)Note.Topic)</p>

    <div>
        <a class="btn btn-info">Edit</a>
        <button type="button" class="btn btn-danger"
                @onclick="@(() => OnNoteDelete.InvokeAsync(Note))">
            Delete
        </button>
    </div>*@


<div class="card m-1 p-1  bg-light">
    <h5>
        <a href="@urlNote">
            <span class="badge badge-pill badge-primary float-left ml-1">
                @Note.NoteNumber
            </span>
        </a>

        <a href="@urlNote"> &nbsp; @((MarkupString)Note.Topic) </a>

        <span class="float-right">
            <button class="btn btn-sm btn-warning mx-1"
                    data-toggle="tooltip" title="Edit note">
                <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-sm btn-danger mx-1"
                    @onclick="@(() => OnNoteDelete.InvokeAsync(Note))" data-toggle="tooltip" title="Delete note">
                <i class="fa fa-minus"></i>
            </button>
        </span>
    </h5>
    <div class="card-text bg-white p-1">
        <p>
            <span>@((MarkupString)Note.Topic)</span>
        </p>
    </div>
</div>


@code {
    [Parameter] public NoteInfoDto Note { get; set; }
    [Parameter] public bool ShowButton { get; set; } = false;
    [Parameter] public EventCallback<NoteInfoDto> OnNoteDelete { get; set; }

    private string urlNote = string.Empty;

    protected override void OnInitialized()
    {
        urlNote = $"/notes/";
        base.OnInitialized();
    }

}
