<div class="card m-1 p-1  bg-light">
    <h5>
        <a href="notes/@Note.NoteId">
            <span class="badge badge-pill badge-primary float-left ml-1">
                @Note.NoteNumber
            </span>
        </a>

         &nbsp; @((MarkupString)Note.Topic)

    <span class="float-right">        
        <button class="btn btn-sm btn-warning mx-1"
                @onclick="@(() => OnNoteEdit.InvokeAsync(Note.NoteId))" data-toggle="tooltip" title="Edit note">
            <i class="fa fa-pencil"></i>
        </button>

        <button class="btn btn-sm btn-danger mx-1"
                @onclick="@(() => OnNoteDelete.InvokeAsync(Note))" data-toggle="tooltip" title="Delete note">
            <i class="fa fa-minus"></i>
        </button>
    </span>
    </h5>
    <div class="card-text bg-white p-1">
        <p>
            <span>
                @*@Note.Description*@
                <ViewMarkdown MarkdownContent="@Note.Description" />
            </span>

        </p>
    </div>
</div>


@code {
    [Parameter] public NoteInfoDto Note { get; set; }    
    [Parameter] public EventCallback<NoteInfoDto> OnNoteDelete { get; set; }   
    [Parameter] public EventCallback<Guid> OnNoteEdit { get; set; }   

    // [Parameter] public bool ShowButton { get; set; } = false;
}
