@inject IShowMessages showMessages
@inject IKntClientDataService  dataService
@inject NavigationManager navigationManager

<!-- -->

<EditForm Model="Note" Context="formContext">

    <DataAnnotationsValidator></DataAnnotationsValidator>

    <!-- Title -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h3>@Title</h3>
            </div>
            <div class="col-6 float-right">
                <button class="btn btn-success float-right" @onclick="(() => Save(formContext))">Save changes</button>
            </div>
        </div>
    </div>
    <hr class="mt-1" />

    <!-- Tab -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @((selectedPanel == 1) ? "active" : "")" @onclick="@(() => ShowPanel(1))">
                <span class="oi oi-document mr-2"></span>Overview
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @((selectedPanel == 2) ? "active" : "")" @onclick="@(() => ShowPanel(2))">
                <span class="oi oi-bookmark mr-2"></span>Attributes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @((selectedPanel == 3) ? "active" : "")" @onclick="@(() => ShowPanel(3))">
                <span class="oi oi-cloud-upload mr-2"></span>Resources
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @((selectedPanel == 4) ? "active" : "")" @onclick="@(() => ShowPanel(4))">
                <span class="oi oi-task mr-2"></span>Task
            </a>
        </li>
        @*
            //TODO: !!! pendiente de implementar 
            <li class="nav-item">
                <a class="nav-link @((selectedPanel == 5) ? "active" : "")" @onclick="@(() => ShowPanel(5))">
                    <span class="oi oi-envelope-open mr-2"></span>Messages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @((selectedPanel == 6) ? "active" : "")" @onclick="@(() => ShowPanel(6))">
                    <span class="oi oi-external-link mr-2"></span>TraceNotes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @((selectedPanel == 7) ? "active" : "")" @onclick="@(() => ShowPanel(7))">
                    <span class="oi oi-flag mr-2"></span>KEvents
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @((selectedPanel == 8) ? "active" : "")" @onclick="@(() => ShowPanel(8))">
                    <span class="oi oi-terminal mr-2" aria-hidden="true"></span>Script
                </a>
            </li>*@

        @*<li class="nav-item">
                    <a class="nav-link disabled" href="#">Script</a>
            </li>*@
    </ul>

    <!-- Panels -->
    <div class="@((selectedPanel == 1) ? "" : "d-none")">

        <div class="mt-4"></div>

        <div class="form-group row">
            <label for="atrTopic" class="col-sm-1 col-form-label">Topic:</label>
            <div class="input-group col-sm-11" id="atrTopic">
                <InputText class="form-control" @bind-Value="@Note.Topic" />
                <div class="input-group-append">
                    <label class="btn btn-outline-secondary" data-toggle="tooltip" title="Note number (automatically assigned)">
                        #@Note.NoteNumber
                    </label>
                </div>
            </div>
            <ValidationMessage For="@(() => Note.Topic)" />
        </div>

        <div class="form-group row">
            <label for="atrFolder" class="col-sm-1 col-form-label">Folder:</label>
            <div class="input-group col-sm-11" id="atrFolder">
                <input type="text" disabled class="form-control" @bind="@Note.FolderDto.Name" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" @onclick="@OnFolderSelector"
                            data-toggle="tooltip" title="Select folder">
                        ...&nbsp;<i class="fa fa-folder" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <ValidationMessage For="@(() => Note.FolderId)" />
        </div>

        <div class="form-group row">
            <label for="atrTags" class="col-sm-1 col-form-label">Tags:</label>
            <div class="input-group col-sm-11" id="atrTags">
                <InputText class="form-control" @bind-Value="@Note.Tags" />
            </div>
            <ValidationMessage For="@(() => Note.Tags)" />
        </div>

        <div class="form-group row">
            <label for="atrPriority" class="col-sm-1 col-form-label">Priority:</label>
            <div class="input-group col-sm-5" id="atrPriority">
                <InputNumber class="form-control col-sm-11" @bind-Value="@Note.Priority" />
                <ValidationMessage For="@(() => Note.Priority)" />
            </div>

            <label for="atrNoteType" class="col-sm-1 col-form-label">Type:</label>
            <div class="input-group col-sm-5" id="atrNoteType">                
                @*<select class="form-control col-sm-11" @bind="@Note.NoteTypeId">*@
                <select class="form-control col-sm-11" @bind="@NoteTypeControl">
                    <option></option>
                    @if (NoteTypes != null)
                    {
                        @foreach (var ntype in NoteTypes)
                        {
                            <option value=@ntype.NoteTypeId>@ntype.Name</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(() => Note.NoteTypeId)" />
            </div>
        </div>

        <div class="form-group form-markdown">
            <InputMarkdown @bind-Value="@Note.Description"
                           For="@(() => Note.Description)" Label="Description:"></InputMarkdown>

        </div>

    </div>

    <div class="@((selectedPanel == 2) ? "" : "d-none")">
        <div class="mt-4"></div>
        <NoteKAttributes @ref="noteKAttributes" Attributes="Note.KAttributesDto"></NoteKAttributes>
    </div>

    <div class="@((selectedPanel == 3) ? "" : "d-none")">
        <div class="mt-2"></div>
        @if (resources == null)
        {
            <p>Loading resources ...</p>
        }
        else
        {
            <NoteKResources Resources="resources"
                            OnDelete="OnDeleteResource"
                            OnInsertInDesription="InsertInDescription"
                            OnNew="OnNewResource">
            </NoteKResources>
        }
    </div>

    <div class="@((selectedPanel == 4) ? "" : "d-none")">
        <div class="mt-2"></div>
        @if (tasks == null)
        {
            <p>Loading tasks ...</p>
        }
        else
        {
            <NoteKTasks Tasks="tasks"
                        OnDelete="OnDeleteTask"                        
                        OnNew="OnNewTask"
                        OnEdit="OnEditTask">
            </NoteKTasks>
        }
    </div>

    <div class="@((selectedPanel == 5) ? "" : "d-none")">

        <div class="mt-4"></div>

        <h4 class="mt-2"> Messages (panel: @selectedPanel)</h4>

        Data for panel @selectedPanel

    </div>

    <div class="@((selectedPanel == 6) ? "" : "d-none")">

        <div class="mt-4"></div>

        <h4 class="mt-2"> Trace notes (panel: @selectedPanel)</h4>

        Data for panel @selectedPanel

    </div>

    <div class="@((selectedPanel == 7) ? "" : "d-none")">

        <div class="mt-4"></div>

        <h4 class="mt-2"> KEvents (panel: @selectedPanel)</h4>

        Data for panel @selectedPanel

    </div>

    <div class="@((selectedPanel == 8) ? "" : "d-none")">

        <div class="mt-4"></div>

        <h4 class="mt-2"> Script (panel: @selectedPanel)</h4>

        Data for panel @selectedPanel

    </div>

    <!-- Footer -->
    @*<div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    &nbsp;
                </div>
                <div class="col-6 float-right">
                    <button class="btn btn-success float-right" @onclick="(() => Save(formContext))">Save changes</button>
                </div>
            </div>
        </div>
        <hr class="mt-1" />*@

    <KntFolderSelector @ref="kntFolderSelector" OnCancel="OnCancelFolderSelector" OnConfirm="OnConfirmFolderSelector"></KntFolderSelector>

    <KntResourceSelector @ref="kntResourceSelector" OnCancel="OnCancelResourceSelector" OnConfirm="OnConfirmResourceSelector"></KntResourceSelector>

    <KntTaskEditor @ref="kntTaskEditor" OnCancel="OnCancelTaskEditor" OnConfirm="OnConfirmTaskEditor" Users="users" ></KntTaskEditor>

</EditForm>

@code {
    [Parameter] public string Title { get; set; } = "---";
    [Parameter] public NoteDto Note { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public List<NoteTypeInfoDto> NoteTypes { get; set; }  //  = new List<NoteTypeInfoDto>();

    private List<ResourceDto> resources; // { get; set; }
    private List<NoteTaskDto> tasks  { get; set; }
    private NoteTaskDto taskEdit; // { get; set; }
    private List<UserInfoDto> users;

    private KntFolderSelector kntFolderSelector;
    private KntResourceSelector kntResourceSelector;
    private KntTaskEditor kntTaskEditor;
    private NoteKAttributes noteKAttributes;

    private int selectedPanel = 1;

    private Guid? oldNoteType = null;


    protected override async Task OnInitializedAsync()
    {
        var httpResponse = await dataService.Get<Result<List<UserInfoDto>>>($"api/users/getall");
        if (!httpResponse.Error)
        {
            users = httpResponse.Response.Entity;
        }
        else
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }

        oldNoteType = Note.NoteTypeId;

        await base.OnInitializedAsync();
    }


    protected async Task Save(EditContext formContext)
    {
        string addMessage = "";

        bool formIsValid = formContext.Validate();

        foreach (var KAttribute in Note.KAttributesDto)
        {
            switch (KAttribute.KAttributeDataType)
            {
                case EnumKAttributeDataType.String:
                    KAttribute.Value = KAttribute.ValueString;
                    break;
                case EnumKAttributeDataType.Int:
                    KAttribute.Value = KAttribute.ValueInt.ToString();
                    break;
                case EnumKAttributeDataType.Double:
                    KAttribute.Value = KAttribute.ValueDouble.ToString();
                    break;
                case EnumKAttributeDataType.DateTime:
                    KAttribute.Value = KAttribute.ValueDateTime.ToString();
                    break;
                case EnumKAttributeDataType.Bool:
                    KAttribute.Value = KAttribute.ValueBool.ToString();
                    break;
                case EnumKAttributeDataType.TabulatedValue:
                    KAttribute.Value = KAttribute.ValueTabulate;
                    break;
                case EnumKAttributeDataType.TagsValue:
                    KAttribute.Value = KAttribute.ValueTags;
                    break;
                default:
                    break;
            }

            if (KAttribute.RequiredValue == true && string.IsNullOrEmpty(KAttribute.Value))
            {
                formIsValid = false;
                addMessage += $" {KAttribute.Name} is required.";

            }
        }

        if (formIsValid == false)
        {
            await showMessages.ShowErrorMessage("Incorrect data, check the required attributes. " + addMessage);
            return;
        }

        await OnValidSubmit.InvokeAsync(formContext);
    }

    private async Task ShowPanel(int panel)
    {
        selectedPanel = panel;

        if (panel == 3 && resources == null)
        {
            var httpResponse = await dataService.Get<Result<List<ResourceDto>>>($"api/notes/getnoteresources/{Note.NoteId}");
            if (httpResponse.Error)
            {
                await showMessages.ShowErrorMessage(await httpResponse.GetBody());
            }
            else
            {
                resources = httpResponse.Response.Entity;
            }
        }

        if (panel == 4 && tasks == null)
        {
            var httpResponse = await dataService.Get<Result<List<NoteTaskDto>>>($"api/notes/GetNoteTasks/{Note.NoteId}");
            if (httpResponse.Error)
            {
                await showMessages.ShowErrorMessage(await httpResponse.GetBody());
            }
            else
            {
                tasks = httpResponse.Response.Entity;
            }
        }
    }

    #region Managment FolderSelector

    private void OnFolderSelector()
    {
        kntFolderSelector.Show();
    }

    private void OnConfirmFolderSelector(FolderInfoDto f)
    {
        Note.FolderDto = f.GetSimpleDto<FolderDto>();
        Note.FolderId = f.FolderId;
        kntFolderSelector.Hide();
    }

    private void OnCancelFolderSelector()
    {
        kntFolderSelector.Hide();
    }

    #endregion

    #region Managment ResourceSelector

    private void OnNewResource()
    {
        kntResourceSelector.Show();
    }

    private async Task OnConfirmResourceSelector(ResourceDto resource)
    {
        resource.NoteId = Note.NoteId;
        resource.Name = Note.NoteId.ToString() + "_" + resource.Name;
        resource.ResourceId = Guid.NewGuid();

        var httpResponse = await dataService.Post<ResourceDto, Result<ResourceDto>>($"api/notes/saveresource", resource);
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            resources.Add(httpResponse.Response.Entity);
        }

        kntResourceSelector.Hide();
    }

    private void OnCancelResourceSelector()
    {
        kntResourceSelector.Hide();
    }

    private async Task OnDeleteResource(ResourceDto resource)
    {
        var httpResponse = await dataService.Delete($"api/notes/deleteresource/{resource.ResourceId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            // Note.ResourcesDto.Remove(resource);
            resources.Remove(resource);
        }
    }

    private void InsertInDescription(ResourceDto resource)
    {
        //[I'm an inline-style link](https://www.google.com)
        if (resource.FileType == "image/jpeg")
            Note.Description += "\n\n![alt text](" + resource?.RelativeUrl + " '" + resource?.Description + "' )";
        else
            //[I'm an inline-style link](https://www.google.com)  .... or 
            Note.Description += "\n\n<a href=" + resource?.RelativeUrl + " target='_blank'>" + resource?.Description + "</a>";
        selectedPanel = 1;
    }

    #endregion

    #region Tasks managment

    private void OnNewTask()
    {
        taskEdit = null;
        kntTaskEditor.Show(null);
    }

    private async Task OnConfirmTaskEditor(NoteTaskDto task)
    {
        task.NoteId = Note.NoteId;

        var httpResponse = await dataService.Post<NoteTaskDto, Result<NoteTaskDto>>($"api/notes/savenotetask", task);
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            var taskUpdated = httpResponse.Response.Entity;

            var taskOld = tasks.Where(t => t.NoteTaskId == taskUpdated.NoteTaskId).SingleOrDefault();

            if (taskOld == null)
                tasks.Add(taskUpdated);
            else
            {
                var i = tasks.IndexOf(taskOld);
                tasks.RemoveAt(i);
                tasks.Insert(i, taskUpdated);
            }
            kntTaskEditor.Hide();
        }

        //kntTaskEditor.Hide();
    }

    private void OnCancelTaskEditor()
    {
        kntTaskEditor.Hide();
    }

    private async Task OnDeleteTask(NoteTaskDto task)
    {
        var httpResponse = await dataService.Delete($"api/notes/deletenotetask/{task.NoteTaskId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            tasks.Remove(task);
        }
    }

    private void OnEditTask(NoteTaskDto task)
    {
        taskEdit = task;
        kntTaskEditor.Show(taskEdit);
    }

    #endregion


    public Guid? NoteTypeControl
    {
        get {
            return Note.NoteTypeId;
        }
        set
        {
            Note.NoteTypeId = value;
            OnChangeNoteTypeActions();
        }
    }

    private async Task OnChangeNoteTypeActions()
    {
        //Console.WriteLine($"1oldNoteType {oldNoteType}");

        if (Note.NoteTypeId == null)
        {
            if (oldNoteType != null)
                Note.KAttributesDto.RemoveAll(_ => _.KAttributeNoteTypeId == oldNoteType);
            oldNoteType = null;
            return;
        }

        if (Note.NoteTypeId == oldNoteType)
            return;

        var httpResponse = await dataService.Get<Result<List<KAttributeDto>>>($"api/kattributes/getfornotetype/{Note.NoteTypeId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            var listA = httpResponse.Response.Entity;

            if (oldNoteType != null)
                Note.KAttributesDto.RemoveAll(_ => _.KAttributeNoteTypeId == oldNoteType);

            foreach (var a in listA)
            {
                var newA = a.GetSimpleDto<NoteKAttributeDto>();
                newA.NoteId = Note.NoteId;
                newA.KAttributeNoteTypeId = Note.NoteTypeId;
                Note.KAttributesDto.Add(newA);
            }

            foreach(var a in Note.KAttributesDto)
            {
                if (a.KAttributeDataType == EnumKAttributeDataType.TabulatedValue)
                    a.TabulatedValues = await noteKAttributes.GetTabulatedValues(a.KAttributeId);
                if (a.KAttributeDataType == EnumKAttributeDataType.TagsValue)
                    a.TagsValues = await noteKAttributes.GetTagsValues(a.KAttributeId, "");
                Console.WriteLine($"Name: {a.Name} NoteType: {a.KAttributeNoteTypeId}");
            }

            oldNoteType = Note.NoteTypeId;
        }

    }


}

