@page "/notes/searchOld"
@page "/notessearchOld"

@inject IKntClientDataService dataService
@inject NavigationManager navigationManager
@inject IShowMessages showMessages

@attribute [Authorize(Roles = "Public, Staff, ProjecManager, Admin")]

<div class="row">
    <div class="col-9">
        <h3>Notes Search</h3>
    </div>
    <div class="col-3">
        <span class="float-right">
            <button type="button" class="btn btn-primary mb-2 mx-sm-3"
                    @onclick="OnLoadListNotes">
                Apply filter
            </button>
        </span>
    </div>
</div>

<hr class="mt-0" />

<div class="form-inline">

    <div class="form-group mb-2">
        <label for="topic" class="col-form-label">Topic:&nbsp;&nbsp;</label>
        <input @bind-value="topic" @bind-value:event="oninput"
               @onkeypress="@((KeyboardEventArgs e) => TopicKeyPress(e))"
               type="text" class="form-control" id="topic" />
    </div>

    @*<div class="form-group mb-2">
            <label for="tags" class="sr-only">Tags</label>
            <input @bind-value="tags" @bind-value:event="oninput"
                   type="text" class="form-control" id="tags" placeholder="Tags ..." />
        </div>*@

    <div class="form-group mx-sm-3 mb-2">
        <select class="form-control" @bind="noteTypeId">
            <option value="0">--Select type--</option>
            @foreach (var item in noteTypes)
            {
                <option value="@item.NoteTypeId.ToString()">@item.Name</option>
            }
        </select>
    </div>

    @*<div class="form-group mx-sm-3 mb-2">
            <input type="checkbox" class="form-check-input" id="mostRecent" @bind="onlyMostRecent" />
            <label class="form-check-label" for="estrenos">
                Only the most recent
            </label>
        </div>*@

    @*<button type="button" class="btn btn-primary mb-2 mx-sm-3" @onclick="OnLoadListNotes">Filter</button>*@
    <button type="button" class="btn btn-danger mb-2" @onclick="CleanOnClick">Clean filter</button>

</div>

<hr />

<div class="row">
    <div class="col-9">
        <Pagination CurrentPage="currentPage" SelectedPage="onSelectedPage"
                    TotalPages="totalPages"></Pagination>
    </div>
    <div class="col-3">
        @if (notes != null && notes.Count > 0)
        {
            <span class="float-right mt-1">
                @if (viewMode == 0)
                {
                    <button class="btn btn-sm btn-dark mx-1"
                            @onclick="ToggleView"
                            data-toggle="tooltip" title="Item mode view">
                        <i class="fa fa-file-text-o"></i> Item mode view
                    </button>
                }
                else
                {
                    <button class="btn btn-sm btn-dark mx-1"
                            @onclick="ToggleView"
                            data-toggle="tooltip" title="Table mode view">
                        <i class="fa fa-table"></i> Table mode view
                    </button>
                }
            </span>
        }
        else
        {
            <span>&nbsp;</span>
        }
    </div>
</div>

@if (viewMode == 0)
{
    <NotesIndex Notes="notes" OnNoteDelete="GoNoteDelete" OnNoteEdit="GoNoteEdit" OnNoteView="GoNoteView"></NotesIndex>
}
else
{
    <NotesList Notes="notes" OnNoteDelete="GoNoteDelete" OnNoteEdit="GoNoteEdit" OnNoteView="GoNoteView" />
}

<ModalDialog @ref="modalDialog" Title="Delete user" onConfirm="OnConfirmDelete" onCancel="OnCancelDelete">
    <div><p>Are you sure you want to delete user "@itemDelete.Topic (@itemDelete.NoteNumber)" ?</p></div>
</ModalDialog>


@code {
    [CascadingParameter] private AppState appState { get; set; }

    private List<NoteInfoDto> notes; //  = new List<NoteInfoDto>();

    private ModalDialog modalDialog;
    private NoteInfoDto itemDelete;

    private int viewMode = 0;

    private string topic = "";
    private Guid? folderId;
    private string noteTypeId = "";
    private string tags = "";
    private string attributeValue = "";

    private List<NoteTypeInfoDto> noteTypes = new List<NoteTypeInfoDto>();

    private Dictionary<string, string> queryStringsDict = new Dictionary<string, string>();
    private int currentPage = 1;
    private int totalPages;

    protected override async Task OnInitializedAsync()
    {
        await GetNoteTypes();

        var url = navigationManager.Uri;
        var queries = navigationManager.GetQueryStrings(url);

        if (queries == null)
        {
            await GetFilteredNotes(string.Empty);
        }
        else
        {
            queryStringsDict = queries;
            LoadFormControls();
            var queryStrings = url.Split(new string[] { "?" }, StringSplitOptions.None)[1];
            await GetFilteredNotes(queryStrings);
        }
    }

    #region Utils

    private void ToggleView()
    {
        viewMode = (viewMode == 0) ? 1 : 0;
    }

    private void LoadFormControls()
    {
        if (queryStringsDict.ContainsKey("topic"))
        {
            topic = queryStringsDict["topic"];
        }

        if (queryStringsDict.ContainsKey("notetypeId"))
        {
            noteTypeId = queryStringsDict["notetypeId"];
        }

        // TODO: !!! Llenar el resto de controles del formulario

        if (queryStringsDict.ContainsKey("page"))
        {
            int.TryParse(queryStringsDict["page"], out currentPage);
        }
    }

    private string BuildQueryStrings()
    {
        if (queryStringsDict == null) { queryStringsDict = new Dictionary<string, string>(); }
        //queryStringsDict["folderid"] = folderId?.ToString();
        queryStringsDict["topic"] = topic?.ToString();
        queryStringsDict["notetypeId"] = noteTypeId?.ToString();
        //queryStringsDict["tags"] = tags?.ToString();
        //queryStringsDict["attributevalue"] = attributeValue?.ToString();
        queryStringsDict["page"] = currentPage.ToString();

        var defaultValues = new List<string>() { "false", "", "0" };

        var strReturn = string.Join("&", queryStringsDict
            .Where(x => !defaultValues.Contains(x.Value.ToLower()))
            .Select(x => $"{x.Key}={System.Web.HttpUtility.UrlEncode(x.Value)}").ToArray());

        return strReturn;
    }

    #endregion

    #region Navigation events

    private async Task OnLoadListNotes()
    {
        currentPage = 1;
        await LoadListNotes();
    }

    private async Task TopicKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await GetFilteredNotes(topic);
        }
    }

    private void CleanOnClick()
    {
        topic = "";
        noteTypeId = "";
        // TODO: !!! falta el resto de campos ...

        currentPage = 1;
    }

    private async Task onSelectedPage(int page)
    {
        currentPage = page;
        await LoadListNotes();
    }

    #endregion

    #region Load data ....

    private async Task GetNoteTypes()
    {
        var httpResponse2 = await dataService.Get<Result<List<NoteTypeInfoDto>>>("api/notetypes");
        if (httpResponse2.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse2.GetBody());
        }
        else
        {
            noteTypes = httpResponse2.Response.Entity;
        }
    }

    private async Task LoadListNotes()
    {
        var queryStrings = BuildQueryStrings();
        navigationManager.NavigateTo("notes/search?" + queryStrings);
        await GetFilteredNotes(queryStrings);
    }

    private async Task GetFilteredNotes(string queryString)
    {
        notes = null;
        var httpResponse = await dataService.Get<Result<List<NoteInfoDto>>>("api/notes/getfilter?" + queryString);

        totalPages = int.Parse(httpResponse.HttpResponseMessage.Headers.GetValues("totalPages").FirstOrDefault());

        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            notes = httpResponse.Response.Entity;
        }

    }

    #endregion

    #region  Edit / Delete events ...

    private void GoNoteView(NoteInfoDto note)
    {
        navigationManager.NavigateTo($"notes/{note.NoteId}");
    }

    private void GoNoteEdit(NoteInfoDto note)
    {
        navigationManager.NavigateTo($"notes/edit/{note.NoteId}/notessearch");
    }

    private void GoNoteDelete(NoteInfoDto item)
    {
        modalDialog.Show();
        itemDelete = item;
    }

    private void OnCancelDelete()
    {
        modalDialog.Hide();
        itemDelete = null;
    }

    private async Task OnConfirmDelete()
    {
        modalDialog.Hide();

        var httpResponse = await dataService.Delete($"api/notes/{itemDelete.NoteId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            await LoadListNotes();
        }

        itemDelete = null;
    }

    #endregion

}

